/* line 6, ../scss/spinner.scss */
.spinner {
  width: 200px;
  height: 200px;
  position: absolute;
  clip: rect(0px, 200px, 200px, 100px);
  animation: close-wrapper 0.01s linear 5s 1 forwards;
}
/* line 12, ../scss/spinner.scss */
.spinner .circle {
  width: 160px;
  height: 160px;
  border: 20px solid #000;
  border-radius: 200px;
  position: absolute;
  clip: rect(0px, 100px, 200px, 0px);
  box-sizing: content-box;
}
/* line 22, ../scss/spinner.scss */
.spinner .circle-right {
  animation: right-spin 5s linear 0s 1 forwards;
}
/* line 26, ../scss/spinner.scss */
.spinner .circle-left {
  animation: left-spin 10s linear 0s 1 forwards;
}

@keyframes right-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes left-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}
