$dimensions: 200px;
$border: 20px;
$duration: 10s;
$color: #000;

.spinner {
    width: $dimensions;
    height: $dimensions;
    position: absolute;
    clip: rect(0px, $dimensions, $dimensions, $dimensions/2);
    animation: close-wrapper 0.01s linear $duration/2 1 forwards;
    .circle {
        width: $dimensions - 20 - $border;
        height: $dimensions - 20 - $border;
        border: $border solid $color;
        border-radius: $dimensions;
        position: absolute;
        clip: rect(0px, $dimensions/2, $dimensions, 0px);
        box-sizing: content-box;
    }

    .circle-right {
        animation: right-spin $duration/2 linear 0s 1 forwards;
    }

    .circle-left {
        animation: left-spin $duration linear 0s 1 forwards;
    }
}

@keyframes right-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes left-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}


.move {
    position: relative;
    height: 140px;
    width: 100px;
    background: #ccc;

    margin-top: 300px;
    .up,
    .down {
        position: absolute;
        left: 50%;
        border-radius: 100px;
        background: #000;
    }
    .up {
        top: 0;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        transform-origin: 50% 100%;
        //transform: rotate(45deg);
        animation: balance .8s ease-in-out infinite alternate;
    }

    .down {
        bottom: 0;
        height: 100px;
        width: 80px;
        margin-left: -40px;
    }
}

@keyframes balance {
    0% { transform:  rotate(45deg); }
    100% { transform:  rotate(-45deg);}
}

@keyframes balance2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}